<!--menu -->
<nav class="navbar navbar-inverse navbar-fixed-top w3-navbar-theme">
  <div class="container-fluid">
    <!-- collapsed NavBar-->
    <div class="navbar-header">
      <!-- Right button collapsed-->
      <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target="#myNavbar">
        <!-- collapsed button bars -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" id="appLogo" ng-href="#!/{{home}}">
        FitG
      </a>
    </div>
    <!-- NavBar buttons-->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

        <!-- view stats of admin user button -->
        <li ng-if="logged"><a href="#!/exercises">Ejercicios</a></li>

        <!-- view stats of admin user button -->
        <li ng-if="logged"><a href="#!/analysis">Análisis Físicos</a></li>

        <!-- log out button -->
        <li ng-if="logged"><a href="#!/profile">
          <em class="fa fa-cogs fa-lg" aria-hidden="true"></em>Cuenta</a></li>

        <!-- log out button -->
        <li ng-if="logged"><a ng-click="logout()">
          <em class="fa fa-sign-out fa-lg" aria-hidden="true"></em>Salir</a></li>
      </ul>
    </div>
  </div>
</nav>
