#aerobicMarksStyle {
  padding-top: 75px;
}

#aerobicMarksStyle .panel p {
  margin: 0;
}

#aerobicMarksStyle .markDate {
  font-size: 10px;
  letter-spacing: .3px;
  font-weight: 400;
}

#marks-shadow-box {
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 1px 4px 0 rgba(10, 16, 20, .37);
  margin-bottom: 5%;
}

#marks-box-title {
  padding: 16px 23px;
  margin: 0;
  background-color: #eceff1;
  color: #373e41;
  font-weight: 400;
  clear: both;
  font-size: 20px;
}

#progress-chart {
  margin: 0 10% 5%;
}
