.primary-color {color: #000000 !important; background-color: #ffab40 !important}
.primary-light-color {color: #000000 !important; background-color: #ffdd71 !important}
.primary-dark-color {color: #000000 !important; background-color: #c77c02 !important}

.primary-text-color {color: #ffab40 !important;}
