body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #e9ecef;
  font-family: 'Noto Sans', sans-serif;
}

/* remove the underline link style */
a:focus, a:hover {
  text-decoration: none;
}

.page-title {
  display: inline-block;
}

.page-title:after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: 24px 0 10px;
  background: #dbdbdb;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: 400;
}

.customButton {
  font-weight: 600 !important;
  text-transform: uppercase;
  font-family: 'Audiowide', cursive;
  padding: 10px 20px !important;
  transition: all .2s ease-in-out;
}

.customButton:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#BDBDBD), to(#BDBDBD), color-stop(50%, #696969));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ui-notification, .ui-notification > h3 {
  text-align: center !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #aaaaaa;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}
