<div id="starterStyle">

  <div id="diagonalShadow">
    <div id="diagonalDiv">
      <div id="headerImg"></div>
    </div>
  </div>


  <div class="container">

    <!-- used for right align the form -->
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Welcome to <span class="primary-text-color">FitG!</span></h1>
      <h2>A way to visualize your fitness goals</h2>

      <form role="form" ng-submit="login()">

        <!-- user name input form -->
        <div class="form-group">
          <input type="email" ng-model="email" class="form-control"
                 placeholder="Enter your email..." required/>
        </div>

        <!-- password input form-->
        <div class="form-group">
          <input type="password" ng-model="password" class="form-control"
                 placeholder="Enter your password..." required/>
        </div>

        <!-- submit button form-->
        <p class="text-center">
          <button type="submit" class="btn btn-default primary-color customButton">
            Log in
          </button>
        </p>

      </form>
    </div>
  </div>
</div>

<script>
  // Random bg, Math.random controls bg range [0..5]
  document.getElementById("headerImg").style.backgroundImage =
    'url(assets/images/sports-' + (Math.floor(Math.random() * 5)) + '.png';
  setInterval(changeBgImg, 30000);
  function changeBgImg() {
    // Random bg, Math.random controls bg range [0..5]
    document.getElementById("headerImg").style.backgroundImage =
      'url(assets/images/sports-' + (Math.floor(Math.random() * 5)) + '.png';
  }
</script>
