<div id="exercisesStyle">
  <div class="container-fluid">

    <h1 class="page-title">Gestiona los ejercicios</h1>

    <!-- Tarjetas para representar la info -->
    <div style="padding-top: 5%" class="row">
      <div ng-repeat="exercise in exercisesList" class="col-lg-3 col-md-4 col-sm-6"
           ng-click="enterHistory()">

        <div class="exerciseCard">

          <p class="exerciseCard-title">{{exercise.name}}</p>
          <p class="exerciseCard-desc">{{exercise.description}}</p>
          <p class="exerciseCard-clasification">{{exercise.category}} - {{exercise.type}}</p>

        </div>
      </div>
    </div>

  </div>
</div>
